{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Student name</th>
        <th>Grade</th>
        <th>EDIT</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.grade }}</td>


          <td>
          <form action="/teacher/setter/{{user.id}}/{{user.clas}}" method="get" target="_blank">
             <input type="text" id="grade" name="grade">
             <input type="submit" value="Submit">
        </form>
         </td>
 
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
