<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/../static/sSheats.css">
    <title>studentCourses</title>
</head>
<body>
  <h1>UC Merced</h1>
  <div class="topleft">Welcome student!</div>
  <form align="right" name="form1" method="post" action="templates/login.html">
    <label class="logoutLblPos">
    <input name="submit2" type="submit" id="submit2" value="log out">
    </label>
  </form>
  <button class="tablink" onclick="openPage('Courses', this, 'Blue')"id="defaultOpen">Student Courses</button>
  <button class="tablink" onclick="openPage('addCourses', this, 'Blue')">Add Courses</button>
  <div id="Courses" class="tabcontent">
    <table>
      <tr>
        <th>Course Name</th>
        <th>Teacher</th>
        <th>Time</th>
        <th>Students Enrolled</th>
      </tr>
      <tr>
        <td>CSE 106</td>
        <td>Ammon Hepworth</td>
        <td>12:00pm</td>
        <td>5/10</td>
      </tr>
      <tr>
        <td>CSE 120</td>
        <td>Ammon Hepworth</td>
        <td>1:30pm</td>
        <td>8/16</td>
      </tr>
    </table>
  </div>  
  <div id="addCourses" class="tabcontent">
    <table>
      <tr>
        <th>Course Name</th>
        <th>Teacher</th>
        <th>Time</th>
        <th>Students Enrolled</th>
        <th>Add Class</th>
      </tr>
      <tr>
        <td>CSE 106</td>
        <td>Joe Mama</td>
        <td>12:00pm</td>
        <td>5/10</td>
        <td>+</td>
      </tr>
      <tr>
        <td>CSE 120</td>
        <td>Joe Mama</td>
        <td>1:30pm</td>
        <td>8/16</td>
        <td>-</td>
      </tr>
    </table>
  </div>
  <script src="/../static/student.js"></script>
</body>
</html>