<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/sSheats.css">
    <title>studentCourses</title>
</head>
<body>
  <h1>UC Merced</h1>
  <div class="topleft">Welcome student!</div>
  <button class="float-button" onclick="logout()"> Logout </button>
  <button class="tablink" onclick="openPage('Courses', this, 'Blue')"id="defaultOpen">Student Courses</button>
  <button class="tablink" onclick="openPage('addCourses', this, 'Blue')">Add Courses</button>
  <div id="Courses" class="tabcontent">
    <table id="classEnrolled">
      <tr>
        <th>Course Name</th>
        <th>Teacher</th>
        <th>Time</th>
        <th>Students Enrolled</th>
        <th>Grades</th>
      </tr>
    </table>
  </div>  
  <div id="addCourses" class="tabcontent">
    <table>
      <tr>
        <th>Course Name</th>
        <th>Teacher</th>
        <th>Time</th>
        <th>Students Enrolled</th>
        <th>Add Class</th>
      </tr>
    </table>
  </div>
  <script src="../static/student.js"></script>
</body>
</html>